@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,700&display=swap");
:root {
  --colore-1: #5491f3;
  --colore-2: #60b2f8;
  --colore-3: #4545f1;
  --colore-4: #1e232c;
  --colore-testo: #fefefe;
}

body {
  /* background-color: var(--colore-1) !important; */
  background-image: linear-gradient(45deg, var(--colore-1) 70%, var(--colore-3));
  color: var(--colore-testo);
  font-family: "Roboto", sans-serif;
}

#mainContainer {
  background-color: var(--colore-2);
  /* box-shadow: 0 0 45px 15px var(--colore-3); */
}

#topBar {
  background-color: var(--colore-4);
}

#topBar a {
  color: var(--colore-testo);
  text-decoration: none;
}
#topBar a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
#topBar a:active {
  opacity: 0.4;
}

#topbarButton {
  background-color: var(--colore-1);
}
.topbarSelected {
  text-decoration: underline !important;
}
.dropdown-menu.show {
  background-color: var(--colore-4);
  border-color: gray;
}
.dropdown-item:hover {
  background-color: transparent;
  transform: scale(1.1) !important;
}
#basic-nav-dropdown:hover {
  transform: scale(1) !important;
}
.login_form {
  background-color: var(--colore-1);
  box-shadow: 0px 0px 15px 5px var(--colore-3);
  width: 50%;
}

.loginButtonForm {
  background-image: linear-gradient(125deg, var(--colore-1) 30%, var(--colore-3));
  box-shadow: 0px 0px 5px 1px var(--colore-3);
}
.loginButtonForm:hover {
  opacity: 0.8;
}
.loginButtonForm:active {
  opacity: 0.4;
  box-shadow: 0px 0px 25px 5px var(--colore-3);
}
.dropZoneModale {
  margin: 0;
  padding: 1rem;
  width: 250px;
  height: 100px;
  border: 2px dashed rgba(0, 0, 0, 0.311);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pDropZone {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 991px) {
  #topBar a:hover {
    transform: scale(1.02);
  }
  .login_form {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  #topbarUserSection {
    order: 3;
  }
}
